@media (max-width: 768px) {
    body {
        padding-inline: 1rem;
        height: auto;
        flex-direction: column;
        gap: 2rem;
    }

    .card-container {
        width: 100%;
        height: 60vh;
    }

    .card {
        width: 100%;
        height: 100%;
        border-radius: 1.5rem;
    }

    .card img {
        width: 18rem;
        left: 50%;
        transform: translate(-50%, -50%) rotate(0deg);
    }

    /* چون hover روی موبایل نداریم */
    .card:hover {
        width: 100%;
    }

    .card:hover img {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}
