* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    padding-inline: 9rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.card-container {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;


}

.card {
    width: 10rem;
    height: 100%;
    background: rgb(255, 0, 0);
    border-radius: 2rem;
    position: relative;
    overflow: hidden;
    transition: .5s ease-in-out;

}

.card img {
    width: 25rem;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-30%, -50%);
    transition: .7s ease-in-out;
}

.card:hover {
    width: 29rem;


}

.card:hover img {
    left: 50%;
    transform: translate(-50%, -50%) rotate(20deg);
}

.card-container:nth-child(1) .card {
    background: #b6f33a;
}

.card-container:nth-child(2) .card {
    background: #5674B6;
}

.card-container:nth-child(3) .card {
    background: #E43D77;
}

.card-container:nth-child(4) .card {
    background: #66CADD;
}

.card-container:nth-child(5) .card {
    background: #F4C742;
}